<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Login/Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg"> <!--navigation bar-->
    <a class="navbar-brand" href="index.html">GreenCharging</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/add">Add a New Location</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Search Nearby</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">LOGIN</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class = "login-page">
        <div class = "form">
            <form class = "register-form" method="POST" action = "/register" role="form", name="login_register_form">
                <input type = "text" placeholder="Username"/>
                <input type = "text" placeholder="Password"/>
                <input type = "text" placeholder="Email"/>
                <button>register</button>
                <p class="message">Aleady Registered? <a href="#">Login</a> </p>
            </form>

            <form class = "login-form" method="POST" action = "/login" role="form", name="login_register_form">
                <input type = "text" placeholder="Username"/>
                <input type = "password" placeholder="Password"/>
                <button>login</button>
                <p class="message">Not Registered? <a href="#">Register</a> </p>
            </form>
        </div>
    </div>
    <script>
        $('.message a').click(function(){
            $('form').animate({height:"toggle", opacity: "toggle"}, "fast")
        })
    </script>

</body>

    
</html>